<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Pojos Mapping -->
        <mapping resource="/com/eglobal/gefa/model/GefaUser.hbm.xml"/>
        <mapping resource="/com/eglobal/gefa/model/GefaRole.hbm.xml"/>
        <mapping resource="/com/eglobal/gefa/model/GefaFactory.hbm.xml"/>        
        <mapping resource="/com/eglobal/gefa/model/GefaIncidence.hbm.xml"/>
        <mapping resource="/com/eglobal/gefa/model/GefaModification.hbm.xml"/>
        <mapping resource="/com/eglobal/gefa/model/GefaPlatform.hbm.xml"/>
        <mapping resource="/com/eglobal/gefa/model/GefaQuestion.hbm.xml"/>
        <mapping resource="/com/eglobal/gefa/model/GefaWorkOrder.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>